@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
body{
    background-color: whitesmoke;
}
nav{
    background-color: rgb(156, 146, 146);
    list-style: none;
}
.wrapperbg{
    background-image: url("./landscape.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    background-color: rgb(165, 154, 154);
    height: 350px;
}

h2{
    text-align: center;
    color:white;
    background-color: rgb(136, 128, 128);
    height: max-content;
    padding: 5px 0;
}

footer{
    background-color: rgb(146, 134, 134);
}

blockquote{
    text-align: center;
    font-size: 8vh;
    margin-bottom: 25px;
    color: rgb(58, 54, 54);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.recap{
    text-align: center;
    color: rgb(58, 54, 54);
    font-weight: 600;
}

ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


ol li{
    color: whitesmoke;
    list-style: none;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form input{
    margin-bottom: 20px;
}

.card-header{
    background-color: rgb(136, 128, 128);
    color: white;
    text-align: center;
}

.card-title{
    text-align: center;
}

.card-body{
    background-color: rgb(165, 154, 154);
    color:white;
}

.res{
    background-color: white;
    color:rgb(136, 128, 128);
}

.sticky-top{
    opacity:0.9;
}

.intro{
    text-align: center;
    color:rgb(51, 49, 49);
    transform: translate(-50%,-50%);
    margin-left: 50%;
}