@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
body{
    background-color: white;
}
nav{
    background-color: rgb(156, 146, 146);
    list-style: none;
}

span{
    background-color: rgb(165, 154, 154);
    height: 350px;
}

h2{
    text-align: center;
    color:white;
    background-color: rgb(136, 128, 128);
    height: max-content;
    padding: 5px 0;
}

footer{
    background-color: rgb(146, 134, 134);
}

blockquote{
    text-align: center;
    font-size: 4vh;
    margin-bottom: 25px;
    color: rgb(58, 54, 54);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.recap{
    text-align: center;
    color: rgb(58, 54, 54);
    font-weight: 600;
}

ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


ol li{
    color: whitesmoke;
    list-style: none;
}